* {
    margin: 0;
    padding: 0;
}

.top {
    background-color: #9fc5f8;
    color: #fff;
}

.container, .nav {
    width: 1000px;
    margin: 0 auto;
}

.nav {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.nav ul {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav h1 {
    font-size: 2.5rem;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

.subtitle-line {
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    border-bottom: 2px solid #999;
}

.subtitle-line h2 {
    font-size: 1.8rem;
}

.subtitle-line select, .subtitle-line label {
    font-size: 1.2rem;
    padding: 5px;
}

.subtitle-line select {
    width: 60px;
}

.row {
    display: flex;
}

.forecast {
    flex: 1;
    text-align: center;
    background-color: #eeeeee;
    padding: 40px 0;
    margin-right: 20px;
}

.forecast: last-child {
    margin-right: 0;
}

.forecast img {
    border-radius: 50%;
    width: 156px;
    margin: 40px 0;
}

.forecast p {
    font-size: 1.2rem;
    font-weight: 600;
}

.temperatures {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}

#values::before, #values::after{
    content: "°";
}

.high, .low {
    font-size: 1.5rem;
    font-weight: 700;
}

.high::after, .low::after {
    content: "°"
}

.high {
    color: #cf2a27;
    font-weight: 900;
}

.low {
    color: #4a8ae5;
    font-weight: 900;
}

.footer {
    width: 100%;
    bottom: 10px;
    position: fixed;
    padding: 10px 15px;
}

.cookie-policy {
    border: 3px solid black;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 160px;
    width: 1000px;
    margin: 0 auto;
}

.text {
    margin-left: 35px;
    margin-top: 25px;
    padding: 10px;
}

.text h2 {
    margin-bottom: 15px;
}

.btn {
    color: black;
    font-weight: 700;
    margin-left: 750px;
    background-color: #9fc5f8;
    box-shadow: 4px 4px black;
    margin-top: 20px;
    width: 100px;
    height: 30px;
}